<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>

        <!-- Form -->
        <form action="/shortUrls" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">Url</label>
            <input required placeholder="Enter URL" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
            <button class="btn btn-success" type="submit">Shrink</button>
        </form>

        <!-- Table -->
        <table class="table table-hover">
            <thead>
              <tr class="table-info">
                <th scope="col">Full URL</th>
                <th scope="col">Short URL</th>
                <th scope="col">Clicks</th>
              </tr>
            </thead>
            <tbody>
              <% shorturls.forEach(shorturl => { %>
                <tr class="table-active">
                  <td>
                      <a href="<%= shorturl.full %>">
                        <%= shorturl.full %>
                      </a>
                  </td>
                  <td>
                    <a href="<%= shorturl.short %>">
                        <%= shorturl.short %>
                    </a>
                  </td>
                  <td>
                      <%= shorturl.clicks %>
                  </td>
                </tr>
               
              <% }) %>
            
            </tbody>
          </table> 
    </div>
</body>
</html>